.card {
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  text-align: center;
}

.current-weather-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 12px;
  .current-weather-card {
    justify-items: center;
    .city-name {
      font-size: 20px;
    }
    .weather {
      font-size: 20px;
    }
    .temp {
      font-size: 20px;
    }
  }
  .current-info-card {
    .info-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      height: 100%;
      .info {
        text-align: left;
        margin: 16px;
        .info-title {
          display: block;
          color: #525252;
        }
        .info-value {
          font-size: 28px;
        }
      }
    }
  }
}

.forecast-daily-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
  .weather {
    margin-bottom: 12px;
  }
  .temp {
    display: flex;
    width: 100px;
    margin: 0 auto;
    .temp-eve {
      margin-left: auto;
    }
  }
}