@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #ececec;
}

section {
  margin: 12px 0;
}

.section-header {
  padding: 16px 0;
  .section-title {
    color: #2b2b2b;
  }
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 12px 0;
  display: flex;
  align-items: center;
  #search {
    margin-left: auto;
    border: 0;
    background: #fff;
    border-radius: 8px;
    width: 300px;
    padding: 16px;
    font-size: 16px;
  }
}
